@media screen and (max-width: 768px) {
            .table-rwd thead {
                display: none;
            }

            .table-rwd tbody tr {
                display: block;
                border: 1px solid var(--color10);
                margin-top: 15px;
                border-radius: 5px;
                box-shadow: 2px 2px 2px 2px var(--color03);
            }

            .table-rwd tbody tr td {
                display: block;
                border: 1px solid var(--color02);
                overflow: hidden;

            }

            .table-rwd tbody tr td::before {
                content: attr(data-th)" : ";
                color: var(--color07);
                font-weight: 900;
                font-size: 18px;
                display: block;
                float: left;
                width: 25%;
                text-align: right;
                padding-right: 15px;
            }

            .table-rwd tbody tr td span {
                display: block;
                float: left;
                width: 75%;
            }


        }